.lists {
  position: fixed;
  height: 100vh;
  background: rgb(219, 197, 197);   
  width: 100%; 
  z-index: -1;
}

.secretSanta {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;  
  height: 100vh;
  gap: 1rem;      
  padding: 5rem 0.5rem 0 0.5rem;
  text-align: center;
}

.info {
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 0;
}

.listArea {
  display: flex;
  flex-direction: column;
  width: 22rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(22, 132, 95, 0.5);
  padding: 1rem 0.5rem;
  min-height: 20rem;
  gap: 1rem;
}

.contentArea {
  display: flex;
  flex-direction: column;
  max-width: 22rem;  
  align-items: center;
  justify-content: center;
  background: rgba(255, 0, 0, 0.202);
  padding: 0.5rem 0.5rem;
}

.listArea button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(81, 175, 101);
  border-radius: 0.5rem;
  text-transform: capitalize;
}

.heading {
  font-size: 1.75rem;
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 0, 0, 0.202);
}

@media screen and (max-width: 600px) {
  .lists {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.09) 0%,rgba(255, 255, 255, 0.02) 100%), url('/images/xmas-secretsanta-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
}