.profilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: bold;
}

.form input {
  padding: 0.5rem;
}

.form button {
  display: flex;
  border: none;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  border-radius: 0.5rem;
  font-weight: bold;
}

.error {
  font-size: small;
  color: rgb(161, 5, 5);
  font-weight: bold;
}