.register {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: gray;
  padding: 1.5rem;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
}

.registerForm input {
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
}

.registerForm button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(86, 86, 250);
}

.error {
  font-size: small;
  color: rgb(161, 5, 5);
  font-weight: bold;
}